<div>
    <h2>Select a Service</h2>
    <button (click)="selectService('service1')">BAKERY SERVICE SECTION</button>
    <button (click)="selectService('service2')">FUNCTIONAL HALL SERVICE SECTION </button>
    <button (click)="selectService('service3')">BIKE SERVICE </button>
    <button (click)="selectService('service4')">SALOON / PARLOUR </button>
    <button (click)="selectService('service5')">Whole sale Kirana Services</button>
    <button (click)="selectService('service6')">GYM SERVICES </button>
    <!-- Add buttons for other services as needed -->
  </div>